* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  width: min-content;
}

.cell {
  border: 1px solid black;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  font-size: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.path-highlight {
  background-color: rgb(219, 149, 149);
}

#next-balls {
  display: flex;
  margin-bottom: 1em;
  gap: 0.2em;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
}
